@use '../../foundation/color' as *;
@use '../../foundation/mixin' as *;

/* p-contact
--------------------------- */
.p-contact {

	&__wrapper {
		max-width: 780px;
		padding: 0 15px;
		margin: 0 auto;
	}
	&__comment {
		font-size: 15px;
		letter-spacing: 0.05em;
		text-align: center;
		margin: 75px auto 45px;
		@include mq(md,max){
			font-size: 14px;
			line-height: 1.8;
			margin: 40px auto 30px;
		}
	}

	&__box {
		max-width: 750px;
		background-color: $cLightGray3;
		padding: 87px 90px 90px;
		box-sizing: border-box;
		margin: 0 auto 70px;
		@include mq(md,max){
			padding: 30px;
			margin-bottom: 40px;
		}
	}
	&__dt {
		font-size: 15px;
		font-weight: bold;
		line-height: 27px;
		letter-spacing: 0.05em;
		margin-bottom: 5px;
		@include mq(md,max){
			font-size: 14px;
		}
	}
	&__dd {
		font-size: 15px;
		letter-spacing: 0.05em;
		line-height: 1.5;
		margin-bottom: 32px;
		&--space {
			display: block;
			height: 5px;
		}
		@include mq(md,max){
			font-size: 14px;
		}
	}
	&__required {
		font-size: 12px;
		letter-spacing: 0.05em;
		line-height: 27px;
		color: $cColorMain;
		margin-left: 10px;
	}
	& input[type="radio"] {
		display: inline-block;
		margin-bottom: 10px;
		vertical-align: baseline;
		@include mq(md,max){
			margin-bottom: 14px;
		}
		&:last-of-type{
			margin-bottom: 0;
		}
	}
	& input[type="radio"]:nth-of-type(2),
	& input[type="radio"]:nth-of-type(3) {
		margin-left: 35px;
		@include mq(md,max){
			margin-left: 0;
		}
	}
	& input[type="text"],
	& input[type="email"],
	& input[type="tel"] {
		height: 45px;
		width: 300px;
		background-color: $cWhite;
		border: 1px solid #AAAAAA;
		border-radius: 6px;
		padding: 10px;
		@include mq(md,max){
			width: 100%;
		}
	}
	& input[type="tel"] {
		width: auto;
		@include mq(md,max){
			width: 100%;
		}
	}
	&__small {
		font-size: 12px;
		font-weight: normal;
		letter-spacing: 0.05em;
		margin-left: 10px;
	}
	& textarea {
		background-color: $cWhite;
		border: 1px solid #AAAAAA;
		border-radius: 6px;
		padding: 12px 8px;
		@include mq(md,max){
			width: 100%;
		}
	}
	& select {
		width: 300px;
		background-color: $cWhite;
		border: 1px solid #AAAAAA;
		border-radius: 6px;
		padding: 12px 8px;
		margin-bottom: 15px;
		@include mq(md,max){
			width: 100%;
		}
	}
	&__btn {
		text-align: center;
		position: relative;
		width: 220px;
		margin: 0 auto 0;
	}
}
