@use '../../foundation/variable' as *;
@use '../../foundation/color' as *;
@use '../../foundation/mixin' as *;
@use '../component/buttons' as *;


.p-index-mv {
	width: 100%;
	height: 100vh;
	background-image: url(../img/mv.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: $cWhite;
	position: relative;
	padding-left: 5vw;
	padding-right: 5vw;

	@include mq(md,max){
		text-align: left;
	}

	&__title {
		font-size: 72px;
		font-weight: bold;
		line-height: 1.25;
		letter-spacing: 0.01em;
		margin-bottom: 15px;
		text-transform: uppercase;
		margin-top: -9px;

		@include mq(md,max){
			font-size: 40px;
			letter-spacing: .03em;
			line-height: 44px;
			margin-top: 0;
		}
	}
	&__subtitle {
		font-size: 24px;
		font-weight: 300;
		letter-spacing: 0.1em;
		line-height: 1.58;
		margin-bottom: 52px;

		@include mq(md,max){
			font-size: 16px;
			line-height: 29px;
			margin-bottom: 30px;
		}
	}
	&__scroll {
		position: absolute;
		bottom: 0;
		right: 35px;
		width: 60px;
		height: 120px;
		text-align: center;

		@include mq(md,max){
			height: 90px;
		}

		&--text {
			font-size: 12px;
			font-weight: 300;
			letter-spacing: 0.2em;
			line-height: 52px;
			text-transform: uppercase;
			transform: rotate(90deg);
			transform-origin: right;
		}

		&::after {
			content: '';
			background-color: $cWhite;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 1px;
			height: 80px;
			@include animation(
				$name:scrollAnime,
				$iteration-count: infinite,
				$duration: 1.5s
			);
			@include mq(md,max){
				height: 50px;
			}
		}
	}
}

@keyframes scrollAnime {
	0% {
		transform-origin: bottom;
		transform: scaleY(1);
	}
	50% {
		transform-origin: bottom;
		transform: scaleY(0);
	}
	50.1% {
		transform-origin: top;
		transform: scaleY(0);
	}
	100% {
		transform-origin: top;
		transform: scaleY(1);
	}
}

.p-index-news {
	width: 100%;
	max-width: $contentWidth;
	padding: 0 15px;
	margin: 0 auto;

	&__flex {
		max-width: 917px;
		display: flex;
		justify-content: space-between;
		margin: 70px auto 0;

		@include mq(md,max){
			flex-direction: column;
			margin-top: 40px;
		}
	}
	&__left {
		width: 170px;
		min-width: 170px;
		margin-top: 14px;

		@include mq(md,max){
			text-align: center;
			margin: 0 auto 20px;
		}
	}
	&__right {
		width: 81%;
	}

	&__dl {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		@include mq(md,max){
			flex-direction: column;
			align-items: start;
		}
	}
	&__dt {
		width: 200px;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.05em;
		line-height: 35px;
		margin-bottom: 5px;

		@include mq(md,max){
			width: 100%;
			margin-bottom: 0;
		}
	}
	&__dd {
		width: calc(100% - 200px);
		line-height: 26px;
		margin-bottom: 5px;

		@include mq(md,max){
			width: 100%;
			margin-bottom: 24px;
		}
	}
	&__dt:last-child,
	&__dd:last-child {
		margin-bottom: 0;
	}
	&__date {
		margin-right: 20px;
	}
	&__link {
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.05em;
		&:hover {
			text-decoration: underline;
		}
	}
}

.p-index-service {
	max-width: 1110px;
	margin: 140px auto;
	padding: 0 15px;

	&__title {
		max-width: 180px;
		text-align: center;
		margin: 0 auto;
	}

	&__contents {
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin: 27px auto 30px;

		@include mq(md,max){
			flex-direction: column;
		}
	}
	&__item {
		width: 31.5%;

		@include mq(md,max){
			width: 100%;
			margin-bottom: 40px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__img {
		width: 100%;
		object-fit: cover;
		margin-bottom: 22px;
	}
	&__item-title {
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 0.05em;
		line-height: 16px;
		text-align: center;
		margin-bottom: 17px;
	}
	&__text {
		font-size: 15px;
		letter-spacing: 0.05em;
		line-height: 27px;

		@include mq(md,max){
			font-size: 14px;
		}
	}
}

.p-index-works {
	max-width: 1261px;
	padding: 60px 0;
	margin: 0 auto;
	position: relative;
	z-index: 0;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 60%;
		height: 100%;
		background: $cLightGray2;
		z-index: -1;
	}

	&__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__left {
		max-width: 750px;
		width: 60%;
		position: relative;
		z-index: 0;
	}
	&__right {
		width: 40%;
		text-align: center;
	}
	&__title {
		margin-bottom: 28px;
	}
	&__text {
		font-size: 15px;
		font-weight: 300;
		letter-spacing: 0.05em;
		line-height: 27px;
		margin-bottom: 25px;
	}
}

.swiper {
  width: 750px;
  height: auto;
	position: relative;

	& .swiper-wrapper {
		width: 100%;
		height: 510px;
	}

	& .swiper-button-prev::after,
  & .swiper-button-next::after {
  	bottom: 0;
  	content: "";
  	margin: auto;
  	position: absolute;
  	top: 0;
  	width: 18px;
		height: 18px;
	}

	/* 前への矢印カスタマイズ */
	& .swiper-button-prev::after {
  	border-bottom: 4px solid $cColorMain;
  	border-left: 4px solid $cColorMain;
		border-radius: 3px;
		transform: rotate(45deg);
	}
	/* 次への矢印カスタマイズ */
	& .swiper-button-next::after {
  	border-bottom: 4px solid $cColorMain;
  	border-right: 4px solid $cColorMain;
		border-radius: 3px;
		transform: rotate(-45deg);
	}
}

.p-index-works__left > .swiper-pagination {
	position: static;
	text-align: right;
	margin-top: 13px;
}

.swiper-pagination-bullet {
	width: 12px !important;
	height: 12px !important;
	margin: 0 0 0 10px !important;
	background: #333 !important;
}
.swiper-pagination-bullet:first-child {
  margin: 0 !important;
}


.p-index-company {
	width: 1300px;
	text-align: center;
	position: relative;
	z-index: 0;
	padding: 0 0 80px;
	margin: 40px auto 90px;
	background-image: url(../img/bg-circle.webp);
	background-repeat: no-repeat;
	background-position: 56% top;
	background-size: contain;

	&__title {
		padding: 110px 0 20px;
	}
	&__goal {
		display: inline-block;
		font-size: 40px;
		font-weight: bold;
		letter-spacing: 0.02em;
		margin-bottom: 36px;
		position: relative;
		z-index: 1;
		background:linear-gradient(transparent 68%, #F5F534 68%);
	}
	&__text {
		font-size: 15px;
		letter-spacing: 0.05em;
		line-height: 27px;
		margin-bottom: 30px;
	}
	&__inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__img {
		position: absolute;
		&:nth-child(1){
			top: 16%;
			left: 0;
		}
		&:nth-child(2){
			top: 16%;
			right: 0;
		}
		&:nth-child(3){
			top: 60%;
			left: 11.3%;
		}
		&:nth-child(4){
			top: 60%;
			right: 11.3%;
		}
	}
}

.p-index-recruit {
	width: 1110px;
	margin: 0 auto 110px;

	&__flex {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__left {
		display: block;
		width: 40%;
		height: 332px;
		text-align: center;
		background-color: $cLightGray2;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__right {
		width: 60%;
	}
	&__title {
		margin-bottom: 28px;
	}
	&__text {
		font-size: 15px;
		letter-spacing: 0.05em;
		margin-bottom: 30px;
	}
}