@use '../../foundation/color' as *;
@use '../../foundation/mixin' as *;

.p-news {
	&__content {
		max-width: 780px;
		padding: 0 15px;
		margin: 70px auto;

		@include mq(md,max){
			margin: 40px auto 80px;
		}
	}

	&__dl {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		margin-bottom: 40px;

		@include mq(md,max){
			flex-direction: column;
			margin-bottom: 10px;
		}
	}
	&__dt {
		font-size: 14px;
		letter-spacing: 0.05em;
		width: 27%;
		margin-bottom: 15px;

		@include mq(md,max){
			width: 100%;
			margin-bottom: 5px;
		}

		&--date {
			margin-right: 20px;
		}
	}
	&__dd {
		font-size: 14px;
		letter-spacing: 0.05em;
		line-height: 1.8;
		width: 73%;
		margin-bottom: 15px;

		@include mq(md,max){
			width: 100%;
			margin-bottom: 30px;
		}
	}
	&__link {
		&:hover {
			text-decoration: underline;
		}
	}

	&__btn-block {

	}
	&__btn-ul {
		width: 155px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
	}
	&__btn-li {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		line-height: 45px;

		&:nth-child(1) {
			color: $cColorMain;
			background-color: #F1EBF8;
		}
		&:nth-child(2),
		&:nth-child(3) {
			color: $cWhite;
			background: linear-gradient(90deg,#7633A4,#250D65);
			transition: 0.3s;
			&:hover {
				filter: brightness(1.1);
				opacity: 0.9;
			}
		}
	}
}