@use '../../foundation/color' as *;

.p-recruit {
	text-align: center;
	background-image: url(../img/bg-geometry.png);
	background-repeat: repeat;

	&__big-title {
		font-size: 72px;
		font-weight: bold;
		letter-spacing: 0.01em;
		color: $cColorMain;
		padding-top: 95px;
		margin-bottom: 15px;
	}
	&__big-subtitle {
		font-size: 32px;
		letter-spacing: 0.02em;
		color: $cColorMain;
		margin-bottom: 30px;
	}
	&__text {
		font-size: 16px;
		letter-spacing: 0.05em;
		line-height: 28px;
	}
	&__img-block {
		width: 100%;
	}
	&__img {
		width: 100%;
		clip-path: polygon(0 15%,100% 0,100% 85%,0 100%);
		object-fit: cover;
		margin: 40px auto 70px;
	}
	&__title--main {
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 0.02em;
		color: $cColorMain;
	}

	&__box {
		width: 1110px;
		border: 1px solid #b067cf;
		border-radius: 10px;
		background-color: $cWhite;
		padding: 65px 0 57px;
		margin: 28px auto 130px;
	}
	&__sub-title {
		font-size: 24px;
		font-weight: bold;
		letter-spacing: 0.03em;
	}
	&__dl {
		width: 920px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		text-align: left;
		margin: 40px auto 50px;
	}
	&__dt {
		width: 195px;
		font-size: 15px;
		font-weight: bold;
		letter-spacing: 0.05em;
		line-height: 27px;
		border-bottom: 1px solid #DDDDDD;
		padding: 30px 0 30px 10px;

		&:nth-of-type(9) {
			display: flex;
			align-items: center;
		}
	}
	&__dd {
		width: 725px;
		font-size: 15px;
		font-weight: normal;
		letter-spacing: 0.05em;
		line-height: 27px;
		border-bottom: 1px solid #DDDDDD;
		padding: 30px 0 30px 0;
	}
	&__ul {
		list-style-type:disc;
		margin: 20px 0 0 20px;
	}
	&__under-btn {
		font-size: 12px;
		line-height: 2.4;
	}

	&__video {
		margin: 36px auto 110px;
	}
}