.p-service {
	&__contents {
		width: 1110px;
		margin: 70px auto 110px;
	}

	&__item {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__left {
		width: 445px;
	}
	&__right {
		width: 615px;
	}
	&__title {
		font-size: 24px;
		font-weight: bold;
		letter-spacing: 0.05em;
		margin-top: 8px;
		margin-bottom: 26px;
	}
	&__text {
		font-size: 15px;
		letter-spacing: 0.05em;
		line-height: 27px;
	}
}