@use '../../foundation/color' as *;
@use '../../foundation/mixin' as *;

.bread {
	position: relative;
	width: 100%;
	height: 45px;
	background-color: $cLightGray2;
	z-index: 10;

	@include mq(md,max){
		height: 35px;
	}

	&__ul {
		max-width: 1140px;
		height: 100%;
		display: flex;
		align-items: center;
		margin: 0 auto;
		padding: 0 15px;
	}
	&__li {
		font-size: 12px;
		letter-spacing: 0.05em;

		@include mq(md,max){
			font-size: 11px;
		}

		&:not(:first-child) {
			margin-left: 30px;
			position: relative;

			@include mq(md,max){
				margin-left: 27px;
			}
			&::before {
				content: '>';
				position: absolute;
				top: 0;
				left: -20px;

				@include mq(md,max){
					left: -17px;
				}
			}
		}
	}

	&__link {
		color: $cColorMain;
		&:hover {
			text-decoration: underline;
		}
	}

	&.inview {
		position: fixed;
		top: 64px;
		left: 0;
		z-index: 100;
	}
}

.c-bread-trigger {
	position: absolute;
	top: 0;
	left:0;
	height: calc(240px - 65px);
}