@use '../../foundation/color' as *;

.bread {
	position: relative;
	width: 100%;
	height: 45px;
	background-color: $cLightGray2;

	&__ul {
		width: 1110px;
		height: 100%;
		display: flex;
		align-items: center;
		margin: 0 auto;
	}
	&__li {
		font-size: 12px;
		letter-spacing: 0.05em;

		&:not(:first-child) {
			margin-left: 30px;
			position: relative;
			&::before {
				content: '>';
				position: absolute;
				top: 0;
				left: -20px;

			}
		}
	}

	&__link {
		color: $cColorMain;
		&:hover {
			text-decoration: underline;
		}
	}

	&.inview {
		position: fixed;
		top: 64px;
		left: 0;
	}
}

.c-bread-trigger {
	position: absolute;
	top: 0;
	left:0;
	height: calc(240px - 65px);
}