@use '../../foundation/color' as *;
@use '../../foundation/mixin' as *;


.c-btn-trans {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid $cWhite;
	border-radius: 50px;
	width: 220px;
	height: 58px;
	margin: 0 auto;
	font-size: 14px;
	font-weight: bold;
	color: $cWhite;
	letter-spacing: 0.1em;
	line-height: 100px;
	text-transform: uppercase;
	position: relative;
	transition: all 0.3s;

	@include mq(md,max){
		margin: 0;
	}

	&:hover {
		opacity: 0.8;

		&::after {
			transform: translate(5px,-50%);
			opacity: 0.8;
		}
	}

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		right: 22px;
		transform: translateY(-50%);
		border-left: 6px solid $cWhite;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		border-radius: 3px;
		transition: all 0.3s;
	}
}

.c-btn {
	@extend .c-btn-trans;
	position: relative;
	z-index: 0;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 200%;
		height: 100%;
		background: linear-gradient(to left,#7633A4,#250D65 50%,#7633A4);
		transition: all 0.3s;
	}

	&:hover {
		opacity: 1;

		&::before {
			transform: translateX(-50%);
		}

		&::after {
			opacity: 1;
		}
	}
}

.c-btn-submit {
	border-radius: 50px;
	width: 220px;
	height: 55px;
	margin: 0 auto;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.4;
	display: inline-block;
	color: $cWhite;
	letter-spacing: 0.1em;
	padding: 18px 0;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	transition: all 0.3s;
	background: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
	background-size: 200% 100%;

	&:hover {
		background-position: right center;

		& + .c-btn-submit--icon {
			transform: translate(50%,-50%);
		}
	}

	&--icon {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%) translateX(0);
		color: $cWhite;
		transition: 0.3s;
	}
}


.c-news-title {
	font-family: 'Montserrat', sans-serif;;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.05em;
	line-height: 26px;
	color: $cDarkGray;
	text-align: center;
	display: inline-block;
	width: 80px;
	background-color: $cLightGray;
	border-radius: 14px;
}

.c-upbtn {
	position: fixed;
	bottom: 45px;
	right: 45px;
	width: 50px;
	height: 50px;
	z-index: 100;
	border-radius: 50%;
	background-color: $cWhite;
	box-shadow: 0 0 6px rgba(0,0,0, 0.16);
	opacity: 0;
	transition: all 0.3s;

	&.inview {
		opacity: 1;
	}
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 9px;
		height: 9px;
		transform: translate(-50%,-60%) rotate(45deg);
		border-top: $cColorMain 2px solid;
		border-left: $cColorMain 2px solid;
		border-radius: 1px;
	}
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 2px;
		height: 10px;
		transform: translate(-50%,-40%);
		background-color: $cColorMain;
	}
}