@use '../../foundation/color' as *;
@use '../../foundation/mixin' as *;

/* c-section
--------------------------- */
.c-sectitle {
	
	&__main {
		display: block;
		font-size: 37px;
		font-weight: bold;
		line-height: 34px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: $cColorMain;

		@include mq(md,max){
			font-size: 30px;
		}
	}
	&__sub {
		font-size: 13px;
		font-weight: bold;
		line-height: 32px;
		letter-spacing: 0.05em;
		color: $cColorMain;
	}
}