@use '../foundation/color' as *;
@use '../foundation/mixin' as *;

.l-sub-mv {
	height: 240px;
	background-image: url(../img/mv.webp);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;

	@include mq(md,max){
		height: 180px;
	}

	&__inner {
		color: $cWhite;
		padding-top: 110px;

		@include mq(md,max){
			padding-top: 83px;
		}
	}
	&__title {
		font-size: 36px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		margin-bottom: 5px;

		@include mq(md,max){
			font-size: 30px;
		}
	}
	&__subtitle {
		font-size: 13px;
		font-weight: bold;
		letter-spacing: 0.05em;
	}
}