<div class="l-contact">
	<div class="l-contact__title">
		<h2 class="c-sectitle">
				<span class="c-sectitle__main">contact</span>
				<span class="c-sectitle__sub">お問い合わせ</span>
		</h2>
	</div>
	<p class="l-contact__text">
		Webサイトの制作のご依頼やお見積りなど、お気軽にご相談ください。
	</p>
	<a href="/company" class="c-btn">more</a>
</div>