<div class="l-cta">
	<div class="l-cta__title">
		<h2 class="c-sectitle">
				<span class="c-sectitle__main">contact</span>
				<span class="c-sectitle__sub">お問い合わせ</span>
		</h2>
	</div>
	<p class="l-cta__text">
		Webサイトの制作のご依頼やお見積りなど、<br class="md-only">お気軽にご相談ください。
	</p>
	<a href="/contact" class="c-btn">more</a>
</div>