<!-- .l-footer -->
<footer class="l-footer">
    <div class="l-footer__inner">
        <nav class="l-footer__nav">
            <ul class="l-footer__ul">
                <li class="l-footer__li"><a class="l-footer__link" href="/">home</a></li>
                <li class="l-footer__li"><a class="l-footer__link" href="/news">news</a></li>
                <li class="l-footer__li"><a class="l-footer__link" href="/service">service</a></li>
                <li class="l-footer__li"><a class="l-footer__link" href="/works">works</a></li>
                <li class="l-footer__li"><a class="l-footer__link" href="/company">company</a></li>
                <li class="l-footer__li"><a class="l-footer__link" href="/recruit">recruit</a></li>
                <li class="l-footer__li"><a class="l-footer__link" href="/contact">contact</a></li>
            </ul>
        </nav>
        <p class="l-footer__copy"><a href="/" class="l-footer__copy-link">&copy;PON&nbsp;DESIGN</a></p>
    </div>
</footer>
<!-- /.l-footer -->