<%_ const path='./'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- meta -->
        <%- include(path + '_common/_head', {
        path:path,meta:data.meta['home'],})%>
    </head>
    <body>
        <%- include(path + '_common/_header',{path:path,}) %>

        <!-- main -->
        <main>

        </main>
        <!-- /main -->

        <%- include(path + '_common/_footer',{path:path,}) %>
    </body>
</html>
